    <!-- BEGIN JUMBOTRON -->
    <section class="jumbotron full-vh" data-pages="parallax">
      <div class="inner full-height">
        <!-- BEGIN SLIDER -->
        <div class="swiper-container" id="hero">
          <div class="swiper-wrapper">
            <!-- BEGIN SLIDE -->
            <div class="swiper-slide fit bg-complete">
              <!-- BEGIN IMAGE PARRALAX -->
              <div class="slider-wrapper">
                <div class="background-wrapper" data-swiper-parallax="20%">
                  <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes -->
                  <div data-pages-bg-image="assets/images/hero_bridge.jpg" draggable="false" class="background" data-bg-overlay="black" data-overlay-opacity="0.4"></div>
                </div>
              </div>
              <!-- END IMAGE PARRALAX -->
              <!-- BEGIN CONTENT -->
              <div class="content-layer">
                <div class="inner full-height">
                  <div class="container-xs-height full-height">
                    <div class="col-xs-height col-middle text-left">
                      <div class="container text-center">
                        <h1 class="m-t-5 light text-white" data-pages-animation="standard" data-delay="600" data-type="transition.slideDownIn">
                          Discount <span class="font-montserrat">Priority Shipping</span>
                        </h1>
                        <h5 class="block-title text-white" data-pages-animation="standard" data-delay="1000" data-type="transition.fadeIn">One Flat Rate</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END CONTENT -->
            </div>
            <!-- END SLIDE -->
            <!-- BEGIN SLIDE -->
            <div class="swiper-slide fit bg-complete">
              <!-- BEGIN IMAGE PARRALAX -->
              <div class="slider-wrapper">
                <div class="background-wrapper" data-swiper-parallax="20%">
                  <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes -->
                  <div data-pages-bg-image="assets/images/hero_table.jpg" draggable="false" class="background" data-bg-overlay="black" data-overlay-opacity="0.4"></div>
                </div>
              </div>
              <!-- END IMAGE PARRALAX -->
              <!-- BEGIN CONTENT -->
              <div class="content-layer">
                <div class="inner full-height">
                  <div class="container-xs-height full-height">
                    <div class="col-xs-height col-middle text-left">
                      <div class="container text-center">
                        <h1 class="m-t-5 light text-white" data-pages-animation="standard" data-delay="800" data-type="transition.slideDownIn">
                          Over <span class="font-montserrat">100's</span> of pre-designed UI Blocks
                        </h1>
                        <h5 class="block-title text-white" data-pages-animation="standard" data-delay="1200" data-type="transition.fadeIn">For the Price of One</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END CONTENT -->
            </div>
            <!-- END SLIDE -->
          </div>
          <!-- BEGIN ANIMATED MOUSE -->
          <div class="mouse-wrapper">
            <div class="mouse">
              <div class="mouse-scroll"></div>
            </div>
          </div>
          <!-- Add Navigation -->
          <div class="swiper-navigation swiper-rounded swiper-white-solid swiper-button-prev"></div>
          <div class="swiper-navigation swiper-rounded swiper-white-solid swiper-button-next"></div>
        </div>
      </div>
      <!-- END SLIDER -->
    </section>
    <!-- END JUMBOTRON -->
    <section class="p-b-65 p-t-55 bg-warning-light full-height xs-full-width">
      <div class="container full-height">
        <div class="row full-height">
          <div class="col-sm-5 full-height ">
            <!-- BEGIN SLIDER -->
            <div class="swiper-container" id="inner-conent-slider">
              <div class="top-left z-index-10 xs-relative xs-m-b-20">
                <img src="/frontend/assets/images/Headphones.svg" alt="">
                <h5 class="block-title text-black hint-text">
                    Features
                  </h5>
              </div>
              <div class="swiper-wrapper ">
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide bg-warning-light fit">
                  <h1 class="m-t-5  sm-p-t-20 light text-left">
                      Better customer service comes from better relationships with our <span class=
                      "font-montserrat text-uppercase">customers.</span>
                    </h1>
                </div>
                <!-- END SLIDE -->
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide bg-warning-light fit">
                  <h1 class="m-t-5 light text-left">
                      <span class="font-montserrat text-uppercase">True prosperity</span> is the result of well placed
                      confidence in ourselves & our fellow man
                    </h1>
                </div>
                <!-- END SLIDE -->
                <!-- BEGIN SLIDE -->
                <div class="swiper-slide bg-warning-light fit">
                  <h1 class="m-t-5 light text-left">
                      Every great business<br>
                      is built on <span class="font-montserrat text-uppercase">Friendship.</span>
                    </h1>
                </div>
                <!-- END SLIDE -->
              </div>
              <p class="text-black hint-text font-arial small-text bottom-left z-index-10 xs-relative xs-m-b-20 xs-m-t-20">Discount Priority</p>
            </div>
          </div>
          <div class="col-sm-7 full-height pull-left">
            <div class="container-xs-height full-height">
              <div class="col-xs-height col-middle text-left">
                <div class="col-md-11">
                  <img alt="" class="image-responsive-height lazy" src="assets/images/Ipad11.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>