<!-- BEGIN HEADER -->
<nav class="header md-header light-solid " data-pages="header">
  <div class="container relative">
    <div class="pull-left">
      <div class="header-inner">
        <img src="/frontend/assets/images/dp_logo_black.png" width="220" height="21" data-src-retina="/frontend/assets/images/dp_logo_black.png" class="logo" alt="logo">
      </div>
    </div>
    <!-- BEGIN HEADER TOGGLE FOR MOBILE & TABLET -->
    <div class="pull-right">
      <div class="header-inner">
        <a href="#" class="search-toggle visible-sm-inline visible-xs-inline p-r-10"><i class="fs-14 pg-search"></i></a>
        <div class="visible-sm-inline visible-xs-inline menu-toggler pull-right p-l-10" data-pages="header-toggle" data-pages-element="#header">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
      </div>
    </div>
    <div class="pull-right menu-content clearfix" data-pages-direction="slideRight" id="header">
      <!-- BEGIN HEADER CLOSE TOGGLE FOR MOBILE -->
      <div class="pull-right">
        <a href="#" class="text-black link padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10" data-pages="header-toggle" data-pages-element="#header">
          <i class=" pg-close_line"></i>
        </a>
      </div>
      <div class="p-t-10 p-b-10 clearfix m-b-5 hidden-xs hidden-sm">
        <div class="pull-right fs-12">
        </div>
      </div>
      <ul class="menu">
        <li>
          <a href="#" class="active">Home </a>
        </li>
        <li>
          <a href="#" class="">Feature </a>
        </li>
        <li class="horizontal ">
          <a href="javascript:;">Support <i class="pg-arrow_minimize m-l-5"></i></a>
          <span class="arrow"></span>
          <nav class="horizontal">
            <div class="container text-center">
              <ul>
                <li>
                  <a href="/contact" target="_blank">Contact Us</a>
                </li>
                <li>
                  <a href="/faq" target="_blank">FAQ</a>
                </li>
              </ul>
            </div>
          </nav>
        </li>
        <li>
          <a href="/login" class="">Log In </a>
        </li>
      </ul>
      <a class="btn btn-sm btn-bordered btn-black block-title fs-12 hidden-sm hidden-xs" href="/users/new" data-text="Sign Up">Sign Up</a>
    </div>
  </div>
</nav>
<!-- END HEADER -->