<nav class="page-sidebar" data-pages="sidebar">
  <!-- BEGIN SIDEBAR MENU HEADER-->
  <div class="sidebar-header">
    <img src="/app/assets/img/dp_logo_white.png" alt="logo" class="brand" data-src="/app/assets/img/dp_logo_white.png" data-src-retina="/app/assets/img/dp_logo_white.png" width="220" height="22">
  </div>
  <!-- END SIDEBAR MENU HEADER-->
  <!-- START SIDEBAR MENU -->
  <div class="sidebar-menu">
    <!-- BEGIN SIDEBAR MENU ITEMS-->
    <ul class="menu-items">
      <li class="m-t-30">
        <a href="/dashboard">
          <span class="title">Dashboard</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-paper-plane"></i></span>
      </li>
      <li class="">
        <a href="#">
          <span class="title">Shipments</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-paper-plane"></i></span>
      </li>
      <li class="">
        <a href="javascript:;">
          <span class="title">Orders</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-inbox"></i></span>
        <ul class="sub-menu">
          <li class="">
            <a href="/admin/users">New Order</a>
            <span class="icon-thumbnail">n</span>
          </li>
          <li class="">
            <a href="/admin/users/new">Import CSV</a>
            <span class="icon-thumbnail">b</span>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#">
          <span class="title">Billing</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-dollar"></i></span>
      </li>
      <li class="">
        <a href="#">
          <span class="title">Settings</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-cog"></i></span>
      </li>
      <li class="">
        <a href="#">
          <span class="title">Account</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-user"></i></span>
      </li>
      <li class="">
        <a href="#">
          <span class="title">Help</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-question-circle"></i></span>
      </li>
      <li class="m-t-20">
        <a href="#">
          <span class="title">Admin</span>
        </a>
        <span class="icon-thumbnail "><i class="fa fa-question-circle"></i></span>
      </li>
    </ul> 
    <div class="clearfix"></div>
  </div>
  <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- END SIDEBAR